// Primary

$primary-3: #4f4a84;
$primary-2: #6862aa;
$primary-1: #E9E02F; //
$primary-light-3: #DFD95D; //
$primary-light-2: #34304d;
$primary-light-1: #F3F1C3; //

// Error

$error-3: #b93b37;
$error-2: #D6514A; //
$error-1: #f75b4f;
$error-light-3: #712323;
$error-light-2: #501616;
$error-light-1: #330d0d;

// Warning

$warning-3: #b36b00;
$warning-2: #e68a00;
$warning-1: #ffa31a;
$warning-light-3: #584410;
$warning-light-2: #3f3315;
$warning-light-1: #2b2412;

// Success

$success-3: #108529;
$success-2: #7EB814; //
$success-1: #A7E92F; //
$success-light-3: #2c6124;
$success-light-2: #E6F9C3; //
$success-light-1: #283626;

// Accent

$accent-3: #1c60b8;
$accent-2: #2a7bde;
$accent-1: #5694e4;
$accent-light-3: #21436c;
$accent-light-2: #233750;
$accent-light-1: #202a36;

// GS

$gs-10: #FCFBF0; //
$gs-9: #E0DFCE; //
$gs-8: #A5A48C; //
$gs-7: #6E6D5B; //
$gs-6: #4f4d5a;
$gs-5: #626256; //
$gs-4: #4F4F45; //
$gs-3: #4a454f;
$gs-2: #313129; //
$gs-1: #22221E; //
$gs-0: #151515;

// Base

$base-black: #000;
$base-white: #FFF;

// Gray

$gray-6: #F2F2F2; //