// !! This file is not used

// Primary

$primary-3: #3A356E;
$primary-2: #5A549F;
$primary-1: #7A74C9;
$primary-light-3: #CAC4FF;
$primary-light-2: #DDD9FF;
$primary-light-1: #F0EEFF;

// Error

$error-3: #A53531;
$error-2: #D13D35;
$error-1: #F64337;
$error-light-3: #FFCFCD;
$error-light-2: #FFDCDB;
$error-light-1: #FFEEED;

// Warning

$warning-3: #995C00;
$warning-2: #CC7A00;
$warning-1: #FF9900;
$warning-light-3: #FFE59C;
$warning-light-2: #FFF1C0;
$warning-light-1: #FFF7E3;

// Success

$success-3: #0A5A1C;
$success-2: #0F882A;
$success-1: #14B638;
$success-light-3: #B1FCAF;
$success-light-2: #C8FEC5;
$success-light-1: #E5FFE2;

// Accent

$accent-3: #1955A2;
$accent-2: #206DCE;
$accent-1: #4087E1;
$accent-light-3: #AED4FF;
$accent-light-2: #D0E6FF;
$accent-light-1: #E5F1FF;

// GS

$gs-10: #000;
$gs-9: #272C33;
$gs-8: #56616E;
$gs-7: #848E9C;
$gs-6: #C9CDD6;
$gs-5: #D5D8DF;
$gs-4: #E0E2E6;
$gs-3: #EBECED;
$gs-2: #F5F5F6;
$gs-1: #FAFAFA;
$gs-0: #FFF;

// Base

$base-white: #FFF;
$base-black: #000;