@import '../../../globals/themes/dark-theme';
@import '../../../globals/fonts/fonts';

body {
	padding: 44px 1rem 0 1rem;
}

.arrow-back-container {
	height: 40px;
	margin-bottom: 4px;

	.arrow-back-button {
		height: 40px;
		width: 40px;
		border-radius: 100px;
		background-color: $gs-2;

		.arrow-back {
			display: flex;
			align-items: center;
			margin: 0 auto;
		}
	}
}

.arrow-back-button:active .arrow-back path {
	fill: $gs-8;
}

.arrow-back-button .arrow-back path {
	transition: all .2s ease;
}

@media only screen and (hover: hover) {
	.arrow-back-button {
		transition: all .2s ease;

		&:hover {
			background-color: $gs-4;
		}
	}
}

@media only screen and (hover: none) {
	.arrow-back-button {
		transition: all .2s ease;

		&:active {
			background-color: $gs-4;
		}
	}
}

.enter-title {
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	row-gap: 4px;

	h1 {
		color: $gs-10;
		@include bold-title-2;
		text-align: center;
	}

	h2 {
		color: $gs-9;
		@include regular-body-1;
		text-align: center;
	}
}


.input-container {
	display: grid;
	grid-template-rows: repeat(1 1fr);
	row-gap: 1rem;
	max-width: 361px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 2rem;
}

.container-login {
	padding-top: 12px;
	padding-bottom: 32px;
}

.form-container {
	position: relative;
	background-color: $primary-light-1;
	border: 2px solid $primary-light-1;
	padding: 0 12px;
	max-width: 361px;
	border-radius: 12px;
}

.secret-key-input {
	width: 100%;
	height: 48px;
	@include regular-body-1;
	color: $gs-0;
	padding-top: 23px;
	padding-bottom: 5px;
	caret-color: $gs-0;
}

.numbered-label {
	padding: 0 12px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	@include regular-body-1;
	color: $gs-5;
	transition: .15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/// focus

.form-container input:valid~label,
.form-container input:focus~label {
	top: 15px;
	@include regular-caption-1;
	color: $gs-5;
}

.form-container:focus-within {
	border-color: $primary-1;
}

/// error

// .form-container input:valid~label,
// .form-container input:focus~label {
// 	top: 9px + 5px;
// 	@include regular-caption-1;
// 	color: $error-1;
// }

// .form-container:focus-within {
// 	border-color: $error-1;
// }

button.start {
	max-width: 361px;
	width: 100%;
	margin: 1.5rem auto 0 auto;
	display: flex;
	height: 47px;
	border-bottom: $success-2 solid 3px;
	background-color: $success-1;
	border-radius: 100px;
	transition: all .1s ease-in-out;

	&:active {
		background-color: $success-2;
		border-bottom: none;
		height: 47px;
	}

	p {
		color: $gs-0;
		@include bold-header-1;
		display: flex;
		align-items: center;
		margin: 0 auto;
		height: 100%;
	}
}